<script src="https://giscus.app/client.js"
        data-repo="lime1st/lime1st"
        data-repo-id="R_kgDON2ZUMg"
        data-category="Q&A"
        data-category-id="DIC_kwDON2ZUMs4Cm1To"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark_protanopia"
        data-lang="ko"
        data-loading-"lazy"
        crossorigin="anonymous"
        async>
</script>
  
<div class="giscus"></div>
