<script src="https://giscus.app/client.js"
        data-repo="lime1st/lime1st"
        data-repo-id="R_kgDON2ZUMg"
        data-category="Announcements"
        data-category-id="DIC_kwDON2ZUMs4Cm1Tm"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
  
<div class="giscus"></div>
